@font-face {
    font-family: "Tilez";
    src: url("../fonts/Tilez.TTF");
}

@font-face {
    font-family: "Scramble";
    src: url("../fonts/Scramble.ttf");
}


/*GLOBAL ELEMENTS*/
body{
    font-family: Ubuntu;
}
.navbar-brand {
!important;
    padding: 0;
    padding-left: 1vw;
    font-family: Scramble;
    font-size: 2vw;
}

.navbar-brand :hover {
    text-shadow: 14px 14px 12px whitesmoke !important;
}

#canvas {
    background-color: #000;
    display: block;
    margin: auto;
}

footer {
    height: 5vh;
    border-top: 2px solid #cacaca;
    background-color: #cacaca;
    text-align: center;
}

.sal {
    padding-top: 1.2vh
}

.nav-link :focus {

}

.beats {
    color: #c50000;
    animation: beat 1.5s ease-in-out infinite;
}

@keyframes beat {
    0%,
    100% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.1)
    }
}

@media (min-width: 1024px) {
    .grid {
        display: grid;
        grid-template-columns: 2vw repeat(12, 1fr) 2vw;
        grid-template-rows: repeat(8, 10vh);
        grid-gap: 5px;
    }

}

@media all and (max-width: 700px) {

}

/*LAYOUT-MAIN ELEMENTS*/

/*LAYOUT-HOME ELEMENTS*/

/*INDEX ELEMENTS*/
.frontPage {
    z-index: 5;
    grid-row: 3;
    grid-column: 6/span 4;
    text-align: center;
    justify-content: center;
}

.Header {
    font-family: Scramble;
    padding: 0;
    font-size: 3vw;

}

.searchHere {
    height: 5vh;
    z-index: 6;
    margin-top: 2.5vh;
    text-align: start;
    box-shadow: 0px 6px 12px 1px grey;
}

.searchHere:hover {
    box-shadow: 0px 6px 12px 2px grey;
}

#searchBar {
    outline: none;
    width: 29vw;
    height: 5vh;
    padding: 0;
    padding-left: 1vw;
    border: none;
}

#searchBar :active :focus {
    border: none;
    outline: none;
}

.srchInfo {
    font-size: 1.5vh;
    color: #565656;
    padding-top: 5vh;
}

.mod {
    color: cornflowerblue;
}

/*SUB-PAGE ELEMENTS*/
.sub-page-top {
    grid-row: 1/span 3;
    grid-column: 2/ span 5;
    margin-top: 4vh;
    padding-left: 1vw;
    border-left: solid 5px dimgray;
    height: fit-content;
}
.sub-id{
    font-family: "Ubuntu Light";
    font-size: 4vh;
    color: #6c757d;
}

.sub-name {
    font-size: 7vh;
    font-family: Ubuntu;
    color: #1b1e21;
    border-bottom: solid 3px gainsboro;
}

.redirects{
    font-family: "Ubuntu Light";
    color: #6c757d;
}
.re-code{
    font-family: Ubuntu;
    color: #1b1e21;
}
.bundles {
    grid-row: 5/span 6;
    grid-column: 1/ 12;
    display: grid;
    height: fit-content;
    grid-template-rows: [title]auto [cards]auto;
    margin-bottom: 10vh;
}
.card-holder-title{
    grid-row: title;
    margin-left: 3vw;
    font-size: 3vh;
    font-family: Ubuntu;
    color: #5d6d71;
    margin-bottom: 2vh;
    border-bottom: 4px solid #9b9b9b;
    width: fit-content;
    padding-right: 0.5vw;
}
.rep{
    color: #00a400;

}
.fa-1x{
    height: 1.5vh;
}
.fa-2x{
    height: 2vh;
}
.fa-thumbs-up{
    color: #00a400;
}
.fa-thumbs-down{
    color: red;
}
.card-holder{
    grid-row: cards;
    margin-left: 4vw;
    display: grid;
    grid-gap: 0.7vw;
    grid-template-columns: repeat(auto-fill,16vw);
}
.card-title{
    color: #1b1e21;
    font-family: "Ubuntu Light";

}
.card-text{
    color: #6c757d;
    font-family: Ubuntu;
}
.files {
    grid-row: 13/span 6;
    grid-column: 1/ 12;
    display: grid;
    height: fit-content;
    grid-template-rows: [title]auto [cards]auto;
    margin-bottom: 10vh;
}

.videos{
    grid-row: 2/span all;
    grid-column: 11/ span all;
    border-left: 3px solid dimgray;
    display: grid;
    grid-template-rows: [title]auto [content]auto;
}
.videoHead{
    grid-row: title;
    font-family: Ubuntu;
    margin-left: 1vw;
    padding-right: 0.5vw;
    font-size: 3vh;
    color: #5d6d71;
    border-bottom: 4px solid #9b9b9b;
    height: fit-content;
    width: fit-content;
}
/*PROFILE ELEMENTS*/

/*ERROR ELEMENTS*/
.errText {
    color: #4e555b;
    grid-row: 3;

    grid-column: 6/span 4;
}

.error {
    color: cornflowerblue !important;
    font-size: 6vw;
    font-style: unset;
}