{#{% if session['user'] %}#}
{#    {% extends 'layout-loggedin.html' %}#}
{#{% else %}#}
{#    {% extends 'layout-main.html' %}#}
{#{% endif %}#}
{% extends 'layout-main.html' %}
{% set active_page = "index" %}
{% block content %}

    <div class="frontPage">
        <form id="searchForm" action="{{ url_for('search') }}" method="post">
            <p class="Header">Source</p>
            <div class="searchHere">

                <input id="searchBar" placeholder="Search by Subject, Code, Teacher or File" autocomplete="off"
                       data-toggle="list">

                <i id="searchIcon" class="fas fa-search"></i>
            </div>
        </form>
        <p class="srchInfo">Please prefix <i class="mod">:sub:</i>, <i class="mod">:code:</i>, <i class="mod">:teach:</i>  or <i class="mod">:file:</i> for better results</p>
    </div>

{% endblock %}