<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Source</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='jQueryUi/jquery-ui-1.12.1.custom/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap4/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/all.css') }}">
    <link rel="icon" href="{{ url_for('static',filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
</head>
<body>
{% set navigation_bar = [
    ('/', 'index', 'Search'),
    ('/downloads', 'downloads', 'Downloads'),
    ('/pages','subjects','Subjects'),
    ('/stats', 'stats', 'Stats')
] -%}
{% set active_page = active_page|default('index') -%}

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('index') }}">S</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav justify-content-end">
            {% for href, id, caption in navigation_bar %}
                <li {% if id == active_page %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                    <a class="nav-link" href="{{ href|e }}">{{ caption|e }}</a>
                </li>
            {% endfor %}

            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#signInModal">Sign-in</a>
            </li>
        </ul>
    </div>
</nav>

<!--Modals-->
<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Sign-Up / Login</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                               aria-controls="home" aria-selected="true">Sign-Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                               aria-controls="profile" aria-selected="false">Login</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <!--SIGNUP-->
                            <form id="signup" name="signup">
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend" style="padding-top: 10px">
                                        <span class="input-group-text" id="Username">Username</span>
                                    </div>
                                    <div style="padding-top: 10px">
                                        <input type="text" class="form-control" aria-label="Username"
                                               aria-describedby="Username" autocomplete="on" required="required"
                                               id="signup-user" name="signup-user" onblur="NameCheck(this.value)">
                                    </div>
                                    <div id="acceptIC">
                                        <i style="color: #00a400;" class="fa fa-check-circle"></i>
                                    </div>
                                    <div id="rejectIC">
                                        <i style="color: red;" class="fa fa-stop-circle"></i>
                                        Taken: Like her...
                                    </div>
                                </div>
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="Mail">Email-ID</span>
                                    </div>
                                    <div>
                                        <input type="email" class="form-control" aria-label="Mail"
                                               aria-describedby="Mail" autocomplete="email" required="required"
                                               name="signup-mail" id="signup-mail">
                                    </div>
                                </div>
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="pass">Password</span>
                                    </div>
                                    <div>
                                        <input type="password" class="form-control" aria-label="Password"
                                               aria-describedby="pass" autocomplete="on" required="required"
                                               name="signup-pass" id="signup-pass">
                                    </div>
                                </div>
                                <button id="signup-button" type="button" class="btn btn-primary" onclick="signUP()">
                                    SignUp
                                </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </form>
                        </div>
                        <!--Login-->
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <form id="login" name="login">
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend" style="padding-top: 10px">
                                        <span class="input-group-text" id="Username">Username</span>
                                    </div>
                                    <div style="padding-top: 10px">
                                        <input type="text" class="form-control" aria-label="Username"
                                               aria-describedby="Username" autocomplete="username" required="required"
                                               name="login-user">
                                    </div>
                                </div>
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="pass">Password</span>
                                    </div>
                                    <div>
                                        <input type="password" class="form-control" aria-label="Password"
                                               aria-describedby="pass" autocomplete="current-password"
                                               required="required" name="login-pass">
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary" onclick="login()">Login</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div class="grid">
    {% block content %}

    {% endblock %}
</div>
{% if active_page=='index' or active_page == 'error' %}
    <footer class="fixed-bottom">
        <div class="sal">
            Made with <i class="fas fa-heart beats"></i> using Flask
        </div>
    </footer>
{% else %}
    <footer class="fixed-bottom">
        <div class="sal">
            BStark.Tech<sup><i class="fa fa-copyright "></i></sup>
        </div>
    </footer>
{% endif %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <script type="text/javascript">
                alert('{{ message }}');
            </script>
        {% endfor %}
    {% endif %}
{% endwith %}

<!--Scripts-->
{#<script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}"></script>#}
<script src="{{ url_for('static', filename='font-awesome/js/all.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap4/js/bootstrap.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='jQueryUi/jquery-ui-1.12.1.custom/jquery-ui.js') }}"></script>
<script src="{{ url_for('static', filename='js/socket-1.slim.min.js') }}" type="text/javascript"></script>
<script type="text/javascript" charset="UTF-8">
    let socket = io.connect();
    socket.on('connect', function () {
        socket.emit('init', {data: 'I\'m Connected!!'});
    });
</script>
<script src="{{ url_for('static', filename='js/scripts.js') }}" type="text/javascript"></script>
</body>
</html>