{% if session['user'] %}
    {% extends 'layout-loggedin.html' %}
{% else %}
    {% extends 'layout-main.html' %}
{% endif %}

{% set active_page = "subjects" %}

{% block content %}

    <div class="sub-page-top">
        <h3 class="sub-id">CS203</h3>
        <h1 class="sub-name">Machine Learning</h1>
        <span class="redirects">Redirects from:<br></span>
        <p class="re-code">12CS203, 13CS203, 14CS203, 15CS203, 16CS203</p>
        <span class="redirects">Known Teachers:<br></span>
        <p class="re-code">Ramraj, Joseph James LOL, Nagalakshmi, Punita, Sunita , Hunit, Sunita , Hunita, Gunita,
            Munita, Chunita, Sunita , Hunita, Gunita, Munita, Chunita, Sunita , Hunita, Gunita, Munita, Chunita</p>
    </div>

    <div class="bundles">
        <h2 class="card-holder-title">>Bundles
            <sup>
                <i class="fa fa-1x fa-question-circle" data-toggle="tooltip"
                   title="Custom made Bundles for Specific requirements"></i>
            </sup>
        </h2>
        <div class="card-holder">

            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Unit 1-5 Bundle <span class="badge badge-danger">Fav</span></h3>
                    <h6 class="card-title">Author <span class="rep">:180</span></h6>
                    <p class="card-text">Some description about the bundle, best to put the file names here and be done
                        with it.. Can do something more interesting too tho!</p>
                    <a class="card-link" href="#">Download</a>
                    <span>
                        {% for x in range(3) %}
                            <i class="fa fa-1x fa-star" style="color: gold"></i>
                        {% endfor %}
                        {% for x in range(1) %}
                            <i class="fa fa-1x fa-star-half" style="color: gold"></i>
                        {% endfor %}
                    </span>
                    <br>
                {% if session['user'] %}
                    <i class="fa fa-2x fa-thumbs-up"></i>
                    <i class="fa fa-2x fa-thumbs-down"></i>
                {% endif %}
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Unit 1 Bundle</h3>

                    <h6 class="card-title">SuperUser <span class="rep">:1.5K</span></h6>
                    <p class="card-text">Some description about the bundle, best to put the file names here and be done
                        with it.. Can do something more interesting too tho!</p>
                    <a class="card-link" href="#">Download</a>
                    <span>
                        {% for x in range(5) %}
                            <i class="fa fa-1x fa-star" style="color: gold"></i>
                        {% endfor %}
                    </span>

                    <br>
                    <i class="fa fa-2x fa-thumbs-up"></i>
                    <i class="fa fa-2x fa-thumbs-down"></i>

                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Unit 2 Bundle <span class="badge badge-primary">New</span></h3>
                    <h6 class="card-title">DunkinDoughnuts <span class="rep">:180</span></h6>
                    <p class="card-text">Some description about the bundle, best to put the file names here and be done
                        with it.. Can do something more interesting too tho!</p>
                    <a class="card-link" href="#">Download</a>
                    <span>
                        {% for x in range(3) %}
                            <i class="fa fa-1x fa-star" style="color: gold"></i>
                        {% endfor %}
                        {% for x in range(1) %}
                            <i class="fa fa-1x fa-star-half" style="color: gold"></i>
                        {% endfor %}
                    </span>
                    <br>
                    <i class="fa fa-2x fa-thumbs-up"></i>
                    <i class="fa fa-2x fa-thumbs-down"></i>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Unit 3 Bundle</h3>
                    <h6 class="card-title">Author <span class="rep">:180</span></h6>
                    <p class="card-text">Some description about the bundle, best to put the file names here and be done
                        with it.. Can do something more interesting too tho!</p>
                    <a class="card-link" href="#">Download</a>
                    <span>
                        {% for x in range(3) %}
                            <i class="fa fa-1x fa-star" style="color: gold"></i>
                        {% endfor %}
                        {% for x in range(1) %}
                            <i class="fa fa-1x fa-star-half" style="color: gold"></i>
                        {% endfor %}
                    </span>
                    <br>
                    <i class="fa fa-2x fa-thumbs-up"></i>
                    <i class="fa fa-2x fa-thumbs-down"></i>
                </div>
            </div>


        </div>
    </div>

    <div class="files">
        <h2 class="card-holder-title">>Files
            <sup>
                <i class="fa fa-1x fa-question-circle" data-toggle="tooltip" title="Individual Files"></i>
            </sup>
        </h2>
        <div class="card-holder">

            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Unit 1</h3>
                    <h6 class="card-title">Author <span class="rep">:180</span></h6>
                    <p class="card-text">Format: PPTX</p>
                    <a class="card-link" href="#">Download</a>
                    <span>
                        {% for x in range(3) %}
                            <i class="fa fa-1x fa-star" style="color: gold"></i>
                        {% endfor %}
                        {% for x in range(1) %}
                            <i class="fa fa-1x fa-star-half" style="color: gold"></i>
                        {% endfor %}
                    </span>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Unit 2
                        <sup>
                            <i class="fa fa-1x fa-question-circle" data-toggle="tooltip" title="Individual Files"></i>
                        </sup>
                    </h3>
                    <h6 class="card-title">Author <span class="rep">:180</span></h6>
                    <p class="card-text">Format: PDF</p>
                    <a class="card-link" href="#">Download</a>
                    <span>
                        {% for x in range(3) %}
                            <i class="fa fa-1x fa-star" style="color: gold"></i>
                        {% endfor %}
                        {% for x in range(1) %}
                            <i class="fa fa-1x fa-star-half" style="color: gold"></i>
                        {% endfor %}
                    </span>
                </div>
            </div>

        </div>
    </div>

    <div class="videos">
        <h2 class="videoHead">>Video Links
            <sup>
                <i class="fa fa-1x fa-question-circle" data-toggle="tooltip" title="Useful Videos for this Subject"></i>
            </sup>
        </h2>
        <div class="embedded">

        </div>
    </div>

{% endblock %}