{% if session['user'] %}
    {% extends 'layout-loggedin.html' %}
{% else %}
    {% extends 'layout-main.html' %}
{% endif %}

{% set active_page = "subjects" %}

{% block content %}

    <div class="sub-page-top">
        <h3 class="sub-id">{{ sub['sub_code'] }}</h3>
        <h1 class="sub-name">{{ sub['sub_name'] }}</h1>
        <span class="redirects">Redirects from:<br></span>
        <p class="re-code">
            {% for x in sub['redirect_codes'] %}
                {{ x }}
            {% endfor %}
        </p>
        <span class="redirects">Known Teachers:<br></span>
        <p class="re-code">
            {% for t in  sub['teachers'] %}
                {{ t }}
            {% endfor %}
        </p>
    <a href="{{ url_for('contribute',subID= sub['sub_id']) }}" style="color: #0c5460;font-size: 2vh">Contribute..</a>
    </div>

    <div class="bundles">
        <h2 class="card-holder-title">>Bundles
            <sup>
                <i class="fa fa-1x fa-question-circle" data-toggle="tooltip"
                   title="Custom made Bundles for Specific requirements"></i>
            </sup>
        </h2>
        <div class="card-holder">
            {% for bundle in sub['bundles'] %}
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{ bundle['bundle_name'] }}
                            {% if bundle['bundle_rating']>3 %}
                                <span class="badge badge-danger">Fav</span>
                            {% endif %}
                        </h3>
                        <h6 class="card-title">{{ bundle['author'] }} <span class="rep">:180</span></h6>
                        <p class="card-text">{{ bundle['bundle_desc'] }}</p>
                        <a class="card-link"
                           href="{{ bundle['bundle_link'] }}">Download:</a>{#    TODO: ADD an onclick which will increase the download count!!#}
                        <span>{{ bundle['bundle_downloads'] }}</span>
                        <sup><i class="fa fa-1x fa-question-circle" data-toggle="tooltip"
                                title="Total Downloads"></i></sup>
                        <br>
                        <span>
                            {% for _ in range((bundle['bundle_rating'] | int)) %}
                                <i class="fa fa-1x fa-star" style="color: gold"></i>
                            {% endfor %}
                            {% if  (bundle['bundle_rating'] | int)<(bundle['bundle_rating'] | round | int) %}
                                <i class="fa fa-1x fa-star-half" style="color: gold"></i>
                            {% endif %}
                    </span>
                        <br>
                        {#                        {% if session['user'] %}#}
                        {#                            <i class="fa fa-2x fa-thumbs-up"></i>#}
                        {#                            <i class="fa fa-2x fa-thumbs-down"></i>#}
                        {#                        {% endif %}#}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="files">
        <h2 class="card-holder-title">>Files
            <sup>
                <i class="fa fa-1x fa-question-circle" data-toggle="tooltip" title="Individual Files"></i>
            </sup>
        </h2>
        <div class="card-holder">
            {% for file in sub['files'] %}
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{ file['filename'] }}</h3>
                        <h6 class="card-title">{{ file['author'] }} <span class="rep">:180</span></h6>
                        <p class="card-text">Format: {{ file['format'] }}</p>
                        <a class="card-link" href="{{ file['file_link'] }}">Download</a>
                        <span>
                        {% for _ in range((file['file_rating'] | int)) %}
                            <i class="fa fa-1x fa-star" style="color: gold"></i>
                        {% endfor %}
                        {% if  (file['file_rating'] | int)<(file['file_rating'] | round | int) %}
                                <i class="fa fa-1x fa-star-half" style="color: gold"></i>
                            {% endif %}
                    </span>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

    <div class="videos">
        <h2 class="videoHead">>Video Links
            <sup>
                <i class="fa fa-1x fa-question-circle" data-toggle="tooltip" title="Useful Videos for this Subject"></i>
            </sup>
        </h2>
        <div class="embedded">
            {#            <iframe class="embededVideo" src="https://www.youtube.com/embed/avLxcVkPgug?rel=0&amp;controls=0"#}
            {#                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>#}
            {##}
            {#            <iframe class="embededVideo" src="https://www.youtube.com/embed/avLxcVkPgug?rel=0&amp;controls=0"#}
            {#                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>#}
            {##}
            {#            <iframe class="embededVideo" src="https://www.youtube.com/embed/BHS0H5AwGjU?rel=0&amp;controls=0"#}
            {#                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>#}
            {##}
            {#            <iframe class="embededVideo" src='https://www.youtube.com/embed/joOc4KfmcXE?rel=0&amp;controls=0'#}
            {#                    frameborder="0" allowfullscreen></iframe>#}


        </div>
    </div>

{% endblock %}